body{
    background-color: #dfe6f3de;
    margin: 0;
   
}

.input, select{
    padding: .5em;
    border-radius: .25em;
    border: 1px solid rgba(0, 0, 0, .5);
    margin: .5em;
    text-align: center;
}

.input:focus{
    outline: none;
    box-shadow: 0 0 2px 2px #dfe6f3de;
}

.row{
    padding: .5em 0;
}

.title{
    font-size: 1em;
    color: #a1a4acde;
    text-align: center;
}

.titleWeb{
    font-size: 1.7em;
    color: black;
    text-align: center;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.w-30{
    width: 30%;
}

.w-50{
    width: 50%;
}

.button{
    padding: .5em;
    border-radius: .25em;
    background-color: #f5f5f5;
    border: none;
    box-shadow: 0 0 3px 2px rgba(100, 149, 237, .25);
    color: rgb(38, 158, 27);
    font-weight: bold;
    cursor: pointer;
    transition: .5s all;
}

.button:hover{
    box-shadow: 0 0 5px 4px rgba(100, 149, 237, .5);
}

.fa-flag{
    color: white;
    border-image: green;
}

.flag-div{
    background-color: green;
    width: 100%;
}

.row-gustos{
    width: 100%;
}
.card{
    width: 100%;
    padding: 1em;
    background-color: white;
    transition: .5s all;
    align-items: center;
    width: 100%;
}

.card2{
    padding: 1em;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right:auto;
    width: 40%;
}



form{
    width: 100vw;
    height: 100vh;
}

.btn-main {
    background-color: #3949AB;
    color: white;
}

.btn-main:hover {
    color: white;
    box-shadow: 0 0 10px 1px rgba(57, 76, 171, .5);
}

.form-control:not(.is-invalid, .is-valid):focus~.input-group-text,
.form-select:not(.is-invalid, .is-valid):focus~.input-group-text {
    background-color: #3949AB;
    border-color: #3949AB;
    color: white;
}

.form-control:not(.is-invalid, .is-valid)~.focus-border:before,
.form-control:not(.is-invalid, .is-valid)~.focus-border:after,
.form-select:not(.is-invalid, .is-valid)~.focus-border:before,
.form-select:not(.is-invalid, .is-valid)~.focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #3949AB;
    transition: 0.2s;
    transition-delay: 0.2s;
}

.form-control:not(.is-invalid, .is-valid)~.focus-border:after,
.form-select:not(.is-invalid, .is-valid)~.focus-border:after {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    transition-delay: 0.6s;
}

.form-control:not(.is-invalid, .is-valid)~.focus-border i:before,
.form-control:not(.is-invalid, .is-valid)~.focus-border i:after,
.form-select:not(.is-invalid, .is-valid)~.focus-border i:before,
.form-select:not(.is-invalid, .is-valid)~.focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #3949AB;
    transition: 0.2s;
}

.form-control:not(.is-invalid, .is-valid)~.focus-border i:after,
.form-select:not(.is-invalid, .is-valid)~.focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    transition-delay: 0.4s;
}

.form-control:not(.is-invalid, .is-valid):focus~.focus-border:before,
.form-control:not(.is-invalid, .is-valid):focus~.focus-border:after,
.form-select:not(.is-invalid, .is-valid):focus~.focus-border:before,
.form-select:not(.is-invalid, .is-valid):focus~.focus-border:after {
    width: 100%;
    transition: 0.2s;
    transition-delay: 0.6s;
}

.form-control:not(.is-invalid, .is-valid):focus~.focus-border:after,
.form-select:not(.is-invalid, .is-valid):focus~.focus-border:after {
    transition-delay: 0.2s;
}

.form-control:not(.is-invalid, .is-valid):focus~.focus-border i:before,
.form-control:not(.is-invalid, .is-valid):focus~.focus-border i:after,
.form-select:not(.is-invalid, .is-valid):focus~.focus-border i:before,
.form-select:not(.is-invalid, .is-valid):focus~.focus-border i:after {
    height: 100%;
    transition: 0.2s;
}

.form-control:not(.is-invalid, .is-valid):focus~.focus-border i:after,
.form-select:not(.is-invalid, .is-valid):focus~.focus-border i:after {
    transition-delay: 0.4s;
}

.inputrange{
    width: 40%;
    
}

a:link, a:visited {
    width: 100%;
    text-align: left;
    text-decoration: none;
  }
  

  