body{
    background-color: #dfe6f3de;
    margin: 0;
   
}

.input, select{
    
    text-align: center;
}

.row{
    padding: .5em 0;
}

.happyface{
    float: left;
    width: 100%;
}

.title{
    font-size: 2em;
    color: black;
    text-align: center;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.container{
    padding: .1em;
    transition: .5s all;
    width: 20%;
}

.header{
    border: 2px green;
    align-items: center;
    border-radius: .5vmax;
    background-color: rgba(32, 71, 243, 0.767);    
    width: 100%;
    justify-content: center;
    color: white;
    font-size: 10px;
}

.head-img{
    width: 20%;
}

.head-text{
    width: 70%;
}

span{
    width: 40%;
    font-size: 9px;
    background-color: rgb(163, 159, 159);
    align-items: flex-end;
    
}

.input-group-text{
    background-color: rgb(250, 250, 250);
    border-color: rgb(223, 213, 213);
    border-radius: 0;
    color: blue;
}

.form-control{
    background-color: rgb(250, 250, 250);
}

